node_modules/
bower_components/
/build/
.env
*.pem
/config-local.js

## IDE
*.sublime*
.idea/
tags
*.iml

# visual studio code
.vscode/*
!.vscode/*.default

## istanbul coverage
/coverage/
/.nyc_output/

## testing agent storage
/metadata_storage*
/agent_storage*
/noobaa_storage*
/agent_conf*.json*

## heapdump files
heapdump-*

## logs
*.log
logs/
npm-debug.log*

## local stash - add .STASH suffix to ignore files, or a .STASH/ folder
*.STASH
.DS_Store

noobaa.rpm
